.main{
padding-bottom: 100px;
}
.main__frames{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    height: 80vh;
    /*Voor responsive maken gebruik maken van Flex Direction*/
    /*flex-direction: column;*/

}
.frames__profile-img,
.frames__about,
.frames__projects,
.frames__skills{
    margin: auto 0;
}
.container__img {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: block;
    object-fit: cover;
    border: 1px solid #fff;
    margin: 0 auto;
}
.about__title{
    font-size: 32px;
    text-align: center;
    font-weight: normal;
    padding-bottom: 12px;
}
.about__subtitle{
    text-align: center;
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-weight: 100;
    font-style: italic;
    padding-bottom: 18px;
}
.about__text{
    font-weight: 100;
    margin: 2em 6em;
    font-size: 18px;
    line-height: 1.2;
}
.about__readmore{
    text-decoration: none;
}
.readmore__button{
    background-color: #000077;
    border: 1px solid #fff;
    padding: 5px 3em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 1em auto 0 auto;
    font-size: 18px;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px;
    border-radius: 10px;
    transition: .3s;
}
.readmore__button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000077;
    border: 1px solid #000;
}
.projects__title, .skills__title{
    text-align: center;
    font-size: 24px;
    margin-bottom: 1em;
}
.projects__grid{
    margin: 3em 6em;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 10px;
    grid-row-gap: 3em;
    width: 17vw;
}
.grid__title{
    display: block;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 5px;
}

.projects__img-thewall, .projects__img-predatorfishing{
    width: 80px;
    margin: auto;
}

.frames__skills {
    display: none;
}
.projects__img--thewall,
.projects__img--predatorfishing,
.grid__title{
transition: ease-out .3s;
}
.img--thewall:hover {
/*.main__projects__img--predatorfishing:hover,*/
/*.main__grid__projects__grid__title:hover{*/
/*opacity: .7;*/
transform: scale(1.1);
cursor: pointer;
}

.skills__part{
    margin: 1em 6em 0 6em;
}

/*@media screen and (max-width: 1400px){*/
    /*.main__frame__img {*/
        /*width: 400px;*/
        /*height: 400px;*/
    /*}*/
    /*.main__grid__about__text, .main__grid__projects__grid{*/
        /*margin: 2em 3em;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 1200px){*/
    /*.main__frame__img{*/
        /*width: 300px;*/
        /*height: 300px;*/
    /*}*/
    /*.main__grid__about__text, .main__grid__projects__grid{*/
        /*margin: 2em 1em;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 1000px) {*/
    /*.main__grid {*/
        /*grid-template-columns: 1fr 1fr;*/
        /*grid-row-gap: 1.5em;*/
        /*height: auto;*/
        /*margin-bottom: 2em;*/
    /*}*/
    /*.main__grid__about{*/
        /*margin: 2em auto;*/
    /*}*/
    /*.main__grid__about__text, .main__grid__projects__grid{*/
        /*margin: 2em 4em;*/
    /*}*/
    /*.main__grid__skills{*/
        /*display: block;*/
    /*}*/
    /*.hr--disappear{*/
        /*display: none;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 750px) {*/
    /*.main__grid__about__text, .main__grid__projects__grid{*/
        /*margin: 2em;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 700px) {*/
    /*.main__grid{*/
        /*grid-template-columns: 1fr;*/
    /*}*/
    /*.main__frame__img{*/
        /*margin-top: 3em;*/
    /*}*/
    /*.main__grid__about__text, .main__grid__projects__grid{*/
        /*margin: 2em 6em;*/
    /*}*/
    /*.main__grid__skills__grid{*/
        /*display: grid;*/
        /*grid-template-columns: 1fr 1fr;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 600px){*/
    /*.main_grid{*/
        /*width: 100%;*/
    /*}*/
    /*.main__grid__about__text, .main__grid__projects__grid{*/
        /*margin: 2em 6em;*/
    /*}*/
    /*.main__grid__skills__part{*/
        /*margin: auto 2em;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 500px){*/
    /*.main__grid__about__text, .main__grid__projects__grid{*/
        /*margin: 2em;*/
    /*}*/
/*}*/