.main{
padding-bottom: 100px;
}
.main__frames{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 50px;
    height: 80vh;
    /*Voor responsive maken gebruik maken van Flex Direction*/


}
.frames__profile-img,
.frames__about,
.frames__projects,
.frames__skills{
    margin: auto 0;
    width: 33%;
}
.frames__about{
    margin-top: 107px;
}
.frames__projects{
    margin-top: 145px;
}
.container__img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    display: block;
    object-fit: cover;
    border: 1px solid #fff;
    margin: 0 auto;
}
.about__title{
    font-size: 32px;
    text-align: center;
    font-weight: normal;
    padding-bottom: 12px;
}
.about__subtitle{
    text-align: center;
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-weight: 100;
    font-style: italic;
    padding-bottom: 18px;
}
.about__text{
    font-weight: 100;
    margin: 2em 6em;
    font-size: 18px;
    line-height: 1.2;
}
.readmore__button{
    margin: 1.5em auto 0 auto;
}
.projects__title, .skills__title{
    text-align: center;
    font-size: 24px;
    margin-bottom: 1em;
}
.projects__grid{
    margin: 3em 4em;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 1em;
    grid-row-gap: 3em;
}
.grid__title{
    display: block;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 5px;
}

.projects__img-thewall, .projects__img-predatorfishing{
    width: 80px;
    margin: auto;
}

.frames__skills {
    display: none;
}
.projects__img-thewall,
.projects__img-predatorfishing,
.grid__title{
transition: ease-out .3s;
}
.projects__img-thewall:hover,
.projects__img-predatorfishing:hover,
.grid__title:hover{
opacity: .7;
transform: scale(1.1);
cursor: pointer;
}
.skills__part{
    margin: 1em 6em 0 6em;
}

@media screen and (max-width: 1400px){
    .container__img {
        width: 400px;
        height: 400px;
    }
    .about__text, .projects__grid{
        margin: 2em 3em;
    }
}
@media screen and (max-width: 1250px) {
    .main__frames {
        margin: 0 1em;
    }
}
@media screen and (max-width: 1200px){
    .frames__profile-img,
    .frames__about,
    .frames__projects,
    .frames__skills{
        width: 45%;
    }
    .container__img{
        width: 300px;
        height: 300px;
    }
    .about__text, .projects__grid{
        margin: 2em 1em;
    }
    .footer{
        bottom: auto;
    }
    .main__frames {
        flex-wrap: wrap;
        margin: 4em 2em 0 2em;
        height: auto;
    }
    .frames__skills{
        display: block;
    }
    .hr--disappear{
        display: none;
    }
    .frames__projects, .frames__skills{
        margin-top: 4em;
    }
}
@media screen and (max-width: 800px) {
    .main__frames{
        margin: 0 2em;
    }
    .frames__profile-img,
    .frames__about,
    .frames__projects,
    .frames__skills{
        width: 100%;
        margin: 2em 0;
    }
}