.title{
    width: 100%;
    background-color: #888888;
    height: 50px;
}
.title--text{
    margin: 0;
    padding: 6px 0 0 35px;
}
.project{
    width: 100%;
    position: relative;
}
.project--img{
    width: 20em;
    height: 20em;
    margin: 0 auto;
    border: solid 2px #fff;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.project--title{
    text-align: center;
    font-size: 18px;
    font-weight: normal;

}
.project--subtitle{
    text-align: center;
    font-weight: normal;
}
.project__helper{
    display: flex;
    justify-content: center;
}
.project__helper--readmore{
    color: #000;
    font-weight: bold;
    border: 2px solid #fff;
    padding: 5px 2em;
}
.project--readmore{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #000;
    text-decoration: none;
    width: 60%;
    padding: 5px;
    border-radius: 12px;
}